<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Replay Code Scheduler</a>
        <div class="nav navbar-nav navbar-right">
            <a class="nav-item nav-link" href="/">Home</a>
            {{#if user}}
            {{#if admin}}
            <a class="nav-item nav-link" href="/admin">Admin</a>
            {{/if}}
            <a class="nav-item nav-link" href="/submit">Submit</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
            {{else}}
            <a class="nav-item nav-link" href="/auth/twitch">Login</a>
            {{/if}}
        </div>
    </div>
</nav>

<div id="submissions" class="container">
    <br />
    <br />
    <h1 class="text-center">Submissions</h1>
    <br />
    <br />
    <div id="submissions-table-header" class="container">
        <div class="row">
            <div class="col-3"><p>Name</p></div>
            <div class="col-2"><p>Code</p></div>
            <div class="col-1"><p>SR</p></div>
            <div class="col-1"><p>Role</p></div>
            <div class="col-1"><p>Approved</p></div>
            <div class="col-1"><p>Completed</p></div>
            <div class="col-1"><p class="text-center">Approve</p></div>
            <div class="col-1"><p class="text-center">Complete</p></div>
            <div class="col-1"><p class="text-center">Delete</p></div>
        </div>
    </div>
    <div id="submissions-table-body">
        {{#each fullList}}
        <div class="container">
            <div class="row">
                <div class="col-3">{{this.name}}</div>
                <div class="col-2">{{this.code}}</div>
                <div class="col-1">{{this.sr}}</div>
                <div class="col-1">{{this.role}}</div>
                <div class="col-1">{{this.approved}}</div>
                <div class="col-1">{{this.completed}}</div>
                <div class="col-1">
                    <div class="d-flex justify-content-center">
                        <form action="/admin/approve/{{this.id}}" method="POST">
                            <button class="btn btn-primary">&#10003;</button>
                        </form>
                    </div>
                </div>
                <div class="col-1">
                    <div class="d-flex justify-content-center">
                        <form action="/admin/complete/{{this.id}}" method="POST">
                            <button class="btn btn-success">&#10003;</button>
                        </form>
                    </div>
                </div>
                <div class="col-1">
                    <div class="d-flex justify-content-center">
                        <form action="/admin/delete/{{this.id}}?_method=DELETE" method="POST">
                            <button class="btn btn-danger">&#10005;</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>


<div id="schedule" class="container">
    <br />
    <br />
    <h1 class="text-center">Schedule</h1>
    <br />
    <br />
    <div class="row">
        <form action="/admin/schedule" method="POST">
            <div class="d-flex justify-content-center">
                <button class="btn btn-danger" type="submit">Override Schedule</button>
            </div>
        </form>
    </div>
</div>


<div id="patch" class="container">
    <br />
    <br />
    <h1 class="text-center">Reset Codes</h1>
    <br />
    <div class="row">
        <div class="d-flex justify-content-center">
            <button onclick="toggleButton()" class="btn btn-dark">(click to reveal)</button>
        </div>
    </div>
    <br />
    <div id="patch-button" class="hidden row">
        <form action="/admin/patch" method="POST">
            <div class="d-flex justify-content-center">
                <button class="btn btn-danger" type="submit">Reset ALL codes!</button>
            </div>
        </form>
    </div>
</div>

<div id="page-extend">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<script>

    function toggleButton() {
        var button = document.getElementById('patch-button')
        if (button.style.visibility === "visible") {
            button.style.visibility = "hidden"
        } else {
            button.style.visibility = "visible"
        }
    }
</script>

<style>
    p {
        font-weight: bold
    }

    .hidden {
        visibility: hidden
    }
</style>